html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    /* use full widthh and heght of screen*/
    height: 100vh;
    width: 100vw;
    /* center the content */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* set background color */
    background-color: #CDFBF6;
}
.container{
    height: 100vh;
    width:100vw;
    background-color:  #CDFBF6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid{
    height: 75vh;
    width:45vw;
    background-color:  #CDFBF6;
    position: center;
    margin: 20px;
}
.disp{
    height: 75vh;
    width:40vw;
    background-color: #61F3E1;
}
@media screen and (max-width:900px){
    .container{
        display: block;
    }    
}
#vidDiv{
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;


}